<div class="event-div" fxLayout="row" fxLayoutAlign="space-between">
  <div class="left-side" fxLayout="row">
    <!-- only showing check mark if event was received -->
    <div class="check-div center-vertical">
      <img class="check-img center-vertical" *ngIf="event.receivedAtDate != null" src="/assets/check.png">
    </div>
    <div class="type-div center-vertical">{{event.type}}</div>
    <div class="event-or-id-div center-vertical">{{event.event}}</div>
  </div>
  <div class="sent-div center-vertical">{{event.sentAtStr}}</div>
</div>